@model LoginViewModel
    <div style="width:80%; margin:auto">


        <form method="post" asp-controller="Account" asp-action="Login">
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input type="email" class="form-control" asp-for="Email">

            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input type="password" class="form-control" asp-for="Password">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" asp-for="RememberMe">
                <label class="form-check-label" asp-for="RememberMe">Запомнить</label>
            </div>
            <input type="submit" class="btn btn-primary" value="Вход"/>
        </form>


        <a class="btn btn-primary" style="margin-top:15px" asp-controller="Account" asp-action="Register">Регистрация</a>
    </div>